@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url(../images/fondo\ gris.jpg);
    box-sizing: border-box;

}

/*home*/
.super {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #D4C4A6;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    max-height: 30px;
    margin: 0px 0px;
}

.super {
    position: sticky;
}

.l1 {
    margin: 10px 0px;
    padding: 30px;

}

.l1 li {
    display: inline;
    margin-right: 45px;
    margin: 0px 0px;
}



.super a {
    transition: .3s;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
    transition: .3s;
}

.super img {
    max-width: 45px;
    padding: 5px;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 5px;
}


.S1 {
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
}


.tit {
    text-size-adjust: 40px;
    color: whitesmoke;
    font-size: 35px;
}

.subt {
    text-size-adjust: 20px;
    margin-top: 15px;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
}

div .imagen {
    width: 100%;
    max-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-bottom: 40px;
}

.i1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ima1 {
    width: 250px;
    height: 400px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.txt1 {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
}

footer {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
    background-color: wheat;
    color: black;
    text-align: center;
}

/* parte del aboutus empieza aca */

.txtAbo {
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
}

.ima2,
.ima3,
.ima4 {
    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.txt2,
.txt3,
.txt4 {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
}

.i2,
.i3,
.i4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* parte del contact empieza aca */

.txtCnt {
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
}

.ima5 {
    width: 80%;
    height: 600px;
    margin-right: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    margin-left: 10%;
    margin-top: 20px;
}

.txt5 {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-flex;
}

.contactos {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    margin-left: 50px;
    font-size: 20px;
    color: whitesmoke;

}

.num {
    margin-left: 70%;
}

.contactos a {
    color: whitesmoke;
}

/*comienza el services*/

.s4 {
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
    color: white;
    font-size: 20px;
}


.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    justify-content: center;
}

table {
    color: #fff;
    font-size: 40px;
    padding: 5px;
    background-color: #D4C4A6;
}

table {
    color: black;
    font-size: 25px;
    border-collapse: separate;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

thead {
    background: rgba(255, 255, 255, 0.534);
}

th {
    padding: 20px 15px;
    font-weight: 700;
}

td {
    padding: 15px;
}

/* empieza el Rating*/

article{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.ph1{
    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 30px;
    display: flex;
}
.st1{
    width: 150px;
    height: 50px;
    margin-right: 25px;
    margin-bottom: 30px;
}